{% extends '::frontend.html.twig' %}

{% block title %}Últimes ofertes que has comprat{% endblock %}
{% block id 'shopping' %}

{% block article %}
    <h1>{{ block('title') }}</h1>
    hit {{ shoppings | length }}
    {% for shopping in shoppings %}
        {% include 'TestBundle:Default:includes/minioffer.html.twig' with {
        'offer':        shopping.offer,
        'bought':       true,
        'shoppingDate': shopping.date }%}
    {% endfor %}
{% endblock %}

{% block aside %}
    {#...#}
{% endblock %}


